<div class="card card-block">
  <h4 class="card-title">
    {{data.setup}}
    <ng-content select=".setup"></ng-content>
  </h4>
  <p class="card-text"
     [hidden]="data.hide">
    <!-- wordt vervangen door ng-content voor content projection-->
    <!-- {{data.punchline}} -->
    <ng-content select=".punchline"></ng-content>
  </p>
  <a (click)="data.toggle()"
     class="btn btn-warning">Tell Me
  </a>
  <!-- deleteItem is een function call binnen de joke class -->
  <a (click)="deleteItem()" class="btn btn-danger">Delete
  </a>
</div>
